---
title: Description des questions et problèmes : Questions et problèmes liés aux SDK natifs de Brightcove.
parent: Developer Support
---


<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    <section class="bcls-card">
      <div class="card-content">
        <h2 id="Topics_in_this_section">Sujets dans {{ page.title }}</h2>
        <ul>
        {% for item in site.data.navigation %} {% if item.name == 'Developer Support' %} {% for entry in item.docs %} {% if entry.name == page.title %} {% for doc in entry.docs %}
                  <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                {% endfor %} {% endif %} {% endfor %} {% endif %} {% endfor %}
      </div>
    </section>
  </section>
</article>
<script>
  var h1 = document.querySelector('h1'), path = location.pathname, new_location = path.replace('support', 'developer-support'), message = '<h3>Cette page a été déplacée vers <a href="https://sdks.support.brightcove.com' + new_location + '">https://sdks.support.brightcove.com' + new_location + '</a>. Veuillez mettre à jour votre signet ! Vous serez redirigé dans 5 secondes.<h3>'; console.log('new_location', new_location); h1.insertAdjacentHTML('afterend', message); réorienter(); fonction redirection() { var t = window.setTimeout(go_to_new_location, 5000); } fonction go_to_new_location() { window.location.pathname = new_location; }

</script>